.sobre {
    background: #f8f9fa;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 0rem !important;
    position: relative;
    overflow-x: hidden;
}

.sobre-link {
    position: absolute;
    top: 0px;
}

.sobre p {
    font-size: 17px;
}