/* body {
    background-color: #000f22;
    padding-top: 25vh;
} */

form {
    background: #fff;
    color: #000f22;
}

#teste {
    color:#e31937 !important;
}

.form-container {
    padding: 30px;
    box-shadow: 0px 0px 10px 0px;
}
.botoes {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 15px;
}

