.trilhas {
    background: #fff;
    padding-top: 0px;
    padding-bottom: 80px;
    margin-bottom: 0rem !important;
    position: relative;
    overflow-x: hidden;
}

.carousel-root {
    outline: none;
}

#botao1 {
    background: transparent !important;
    opacity: 1;
}

.img-slide {
    filter: brightness(50%);
}