.descr-top {
    background: linear-gradient(0deg, rgba(10,60,110,1) 0%, rgba(2,22,47,1) 83%);
    color: #fff;
    padding-top: 150px;
    padding-bottom: 100px;
    margin-bottom: 0rem !important;
    position: relative;
    overflow-x: hidden;
}

.botoes {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 12px;
}

.inicio-link {
    position: absolute;
    top: 0px;
}

.dev {
    font-size:45px
}