.servicos {
    background: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 0rem !important;
    position: relative;
    overflow-x: hidden;
}

.circulo {
    width: 140px;
    height: 140px;
    background-color: rgb(10,60,110);
    font-size: 52px;
    padding-top: 24px;
    color: #fff;
}

.circulo:hover {
    background-color: #000b19;
    transition: 0.5s;
}

.centralizar {
    margin: 0px auto !important;
    float: none !important;
}

.servicos-link {
    position: absolute;
    top: 0px;
}

.menor {
    margin: 0;
    font-size: 14px;
    text-align: left;
}